* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

main {
  position: relative;
}
.container {
  padding-top: 100px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* SVG-BOOKMARK */
#circle, #text {
  fill: #fff;
}

#path {
  fill: #000;
}
.content-text {
  color: darkgrey;
  margin-bottom: 30px;
}


/* header */

.header {
  background-color: hsla(229, 31%, 21%, 0.952);
  position: absolute;
  width: 100%;
  z-index: 3;
}
.open .header {
  background-color: white;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border-bottom: white solid 0.5px;
  margin: 0px 25px;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
}

/* menu */

.header .menu {
  clear: both;
  text-align: center;
  max-height: 0;
  transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* first section - Hero image and start text */
.hero-container, .bookmark-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}
.hero-text, .bookmark-text {
  width: 50%;
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 1px;
}
.header-buttons {
  display:flex;
  margin-top: 40px;
}

/* //Button "Get it on firefox" */
.firefox {
  background: whitesmoke;
  color: black;
  margin-left: 20px;
  -webkit-box-shadow: -6px 5px 5px -5px rgba(242,242,242,1);
  -moz-box-shadow: -6px 5px 5px -5px rgba(242,242,242,1);
  box-shadow: -6px 5px 5px -5px rgba(242,242,242,1);
}

.hero-img, .tab-img {
  /* width: 50%; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.tab-img {
 justify-content: flex-start;
 margin-left: 60px;
}
.hero-img {
  margin-right: 70px;
}
.hero-img img, .tab-img img {
  width: 500px;
  position: relative;
  z-index: 1;
}
#content2 img, #content3 img{
width: 450px;
}

.blue-rounded {
  height: 300px;
  width: 400px;
  background: hsl(231, 69%, 60%);
  border-bottom-left-radius: 40%;
  border-top-left-radius: 40%;
  position: absolute;
  right: 0;
}

/* second section - features bookmark */
.features-container, .extension-container {
  margin: 40px;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.features-text, .extension-text{
  width: 50%;
}

h2 {
  margin-bottom: 10px;
}
.blue-rounded2 {
  /* height: 18%;
  width: 30%; */
  height: 300px;
  width: 400px;
  background: hsl(231, 69%, 60%);
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
  position: absolute;
  left: 0;

}
/*Tabs*/
.tabs {
  margin-top: 40px;
  padding: 0 20px;
}
.tabs input {
  display: none;
}
.tabs label {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0 -2px;
  width: 25%; /* =100/tabs number */
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  transition: 0.25s background ease;
}
.tabs label:hover {
  cursor: pointer;
}
.tabs input:checked + label {
  border: 2px solid hsl(0, 94%, 66%);
  border-width: 0px 0px 3px 0px;
  transition: 0.25s ease;
}
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
.tabs #tab3:checked ~ .content #content3 {
  display: block;

}
.tabs .content > .tab-content {
  display: none;
  padding-top: 20px;
  text-align: left;
  /*height: 192px;*/
  overflow: auto;
}

/* //card section */
/* .extension-container {
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}
.extension-text{
  width: 50%;
} */

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#card2 {
  margin-top: 100px;
}
#card3 {
  margin-top: 200px;
}
.card {
  margin: 0px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-logo{
 width: 100px; 
 height: 100px; 
}
.card-button {
  margin: 0 20px;
  padding: 10px 40px;
}
.bg-dots {
  width: 100%;
}

/* FAQ SECTION */
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-button {
  margin-top: 40px;
  text-align: center;
}
.faq-text {
  text-align: center;
}

.faq-content {
  width: 50%;
}

.question {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.question:hover {
  color: hsl(0, 94%, 66%);
}

.question:after {
  content: url("images/icon-arrow.svg");
  float: right;
  margin-left: 5px;
  transform: rotate(0deg);
  transition: 0.3s;
}

.active:after {
  content: url("images/icon-arrow.svg");
  transform: rotate(180deg);
  transition: 0.3s;
}
.q-container {
  padding:15px 0;
  margin-top: -1px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.answer {
  color: rgb(146, 146, 146);
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.contact-container {
  padding: 50px 0;
  margin-top: 30px;
  background: hsl(231, 69%, 60%);
  display:flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.contact-container p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
}
.contact-text {
  margin: 30px 0;
}
input {
  width: 200px;
  font-size: 16px;
  padding: 10px;
  color: black;
  border-radius: 6px;
}
.footer-container{
  color: white;
  background: hsl(229, 31%, 21%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 15px ;
}

.footer-container a {
  margin: 0 10px;
  text-transform: uppercase;
}
.footer-links {
  margin-left: 40px;
}
.footer-logos {
  margin-right: 40px;
}
.footer-logos svg {
  margin: 0 10px;
}
.text {
  fill: white;
}

.footer-text {
  display:flex;
  flex-direction: row;
  align-items: center;
}
.footer-text a:hover{
  color:hsl(0, 94%, 66%);
}

#footer-logo:hover {
  fill:hsl(0, 94%, 66%);
}

/* 48em = 768px */

@media (min-width: 48em) {
/* SVG-BOOKMARK */
#circle {
  fill: #5267DF;
}
#path {
  fill: #fff;
}
#text {
    fill: #242A45;
}

.menu a {
  color: black;
}

  .header, .logo {
    padding: 10px 40px;
    background-color: white;
  }
  .header li {
    float: left;
    color: #000;
  }
  .header li a {
    padding: 20px 30px;
    border-bottom: none;
    margin: 0;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    /* background-color: transparent; */
  }
  .header .menu-icon {
    display: none;
  }
  .header li a:hover,
  .header .menu-btn:hover {
  color: hsl(0, 94%, 66%);
}
}

button {
  background-color: hsl(231, 69%, 60%);
  letter-spacing: 1.5px;
  border: solid 2px rgba(255, 255, 255, 0);
  border-radius: 6px;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color:hsl(231, 69%, 60%);
  border:solid 2px hsl(231, 69%, 60%);
}
.login-button {
  background-color:hsl(0, 94%, 66%);
  margin: 10px 15px;
}
.login-button:hover {
  background-color: #fff;
  color:hsl(0, 94%, 66%);
  border:solid 2px hsl(0, 94%, 66%);
}

footer {
background: hsl(229, 31%, 21%);
font-size: 13px;
color: white;
}