* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: 'Rubik';
    line-height: 1.6;

}

main {
  position: relative;
}
.container {
  padding-top: 100px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* SVG-BOOKMARK */
circle, #text {
  fill: #fff;
}

path {
  fill: #000;
}
.content-text {
  color: darkgrey;
}


/* header */

.header {
  background-color: hsla(229, 31%, 21%, 0.952);
  position: absolute;
  width: 100%;
  z-index: 3;
}
.open .header {
  background-color: white;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border-bottom: white solid 0.5px;
  margin: 0px 25px;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
}

/* menu */

.header .menu {
  clear: both;
  text-align: center;
  max-height: 0;
  transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* first section - Hero image and start text */
.hero-container, .bookmark-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.hero-text, .bookmark-text {
  width: 50%;
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 1px;
}
.header-buttons {
  display:flex;
  margin-top: 40px;
}

/* //Button "Get it on firefox" */
.firefox {
  background: whitesmoke;
  color: black;
  margin-left: 20px;
  -webkit-box-shadow: -6px 5px 5px -5px rgba(242,242,242,1);
  -moz-box-shadow: -6px 5px 5px -5px rgba(242,242,242,1);
  box-shadow: -6px 5px 5px -5px rgba(242,242,242,1);
}

.hero-img, .bookmark-img {
  /* width: 50%; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.bookmark-img {
 justify-content: flex-start;
}
.hero-img img, .bookmark-img img {
  width: 600px;
  position: relative;
  z-index: 1;
}

.blue-rounded {
  height: 300px;
  width: 400px;
  background: hsl(231, 69%, 60%);
  border-bottom-left-radius: 40%;
  border-top-left-radius: 40%;
  position: absolute;
}

/* second section - features bookmark */
.features-container {
  margin: 40px;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.features-text {
  width: 60%;
}


.blue-rounded2 {
  /* height: 18%;
  width: 30%; */
  height: 300px;
  width: 400px;
  background: hsl(231, 69%, 60%);
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
  position: absolute;
}
/*Tabs*/
.tabs {
  margin-top: 40px;
  padding: 0 20px;
}
.tabs input {
  display: none;
}
.tabs label {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0 -2px;
  width: 25%; /* =100/tabs number */
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  transition: 0.25s background ease;
}
.tabs label:hover {
  cursor: pointer;
}
.tabs input:checked + label {
  border: 2px solid hsl(0, 94%, 66%);
  border-width: 0px 0px 3px 0px;
  transition: 0.25s ease;
}
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
.tabs #tab3:checked ~ .content #content3 {
  display: block;

}
.tabs .content > .tab-content {
  display: none;
  padding-top: 20px;
  text-align: left;
  /*height: 192px;*/
  overflow: auto;
}
/* 48em = 768px */

@media (min-width: 48em) {
/* SVG-BOOKMARK */
circle {
  fill: #5267DF;
}
path {
  fill: #fff;
}
#text {
    fill: #242A45;
}

a {
  color: black;
}

  .header, .logo {
    padding: 10px 40px;
    background-color: white;
  }
  .header li {
    float: left;
    color: #000;
  }
  .header li a {
    padding: 20px 30px;
    border-bottom: none;
    margin: 0;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    /* background-color: transparent; */
  }
  .header .menu-icon {
    display: none;
  }
  .header li a:hover,
  .header .menu-btn:hover {
  color: hsl(0, 94%, 66%);
}
}

button {
  background-color: hsl(231, 69%, 60%);
  letter-spacing: 1.5px;
  border: solid 2px rgba(255, 255, 255, 0);
  border-radius: 6px;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color:hsl(231, 69%, 60%);
  border:solid 2px hsl(231, 69%, 60%);
}
.login-button {
  background-color:hsl(0, 94%, 66%);
  margin: 10px 15px;
}
.login-button:hover {
  background-color: #fff;
  color:hsl(0, 94%, 66%);
  border:solid 2px hsl(0, 94%, 66%);
}